<mat-toolbar>
  <div class="menu-container">
    <div class="sub-menu-menu">
      <button
        id="menuSelection"
        mat-button
        [matMenuTriggerFor]="main"
        aria-label="Menu"
        #menuTrigger="matMenuTrigger"
        (menuOpened)="closeTimeOut()"
      >
        <mat-icon>menu</mat-icon>
      </button>

      <mat-menu #main>
        <a mat-menu-item [routerLink]="['/home']">
          <mat-icon>home</mat-icon>
        </a>
        <button mat-menu-item [routerLink]="['/auth/profile']">
          <mat-icon>account_circle</mat-icon>Profile
        </button>
        <button mat-menu-item [routerLink]="['/devices']">
          <mat-icon>aod</mat-icon>&nbsp;{{ 'navigation.devices' | translate }}
        </button>
        <button mat-menu-item [matMenuTriggerFor]="meteo">
          <mat-icon>wb_twilight</mat-icon>&nbsp;{{ 'navigation.meteo' |
          translate }}
        </button>
        <button mat-menu-item [matMenuTriggerFor]="admin">
          <mat-icon>settings </mat-icon>Admin
        </button>
      </mat-menu>

      <mat-menu #admin>
        <a mat-menu-item [routerLink]="['/admin','users']"
          ><img
            src="./assets/icons/icon-users.png"
            alt="icon station météo"
            width="25"
          />&nbsp;{{ 'navigation.users' | translate }}</a
        >
      </mat-menu>

      <mat-menu #meteo>
        <a mat-menu-item [routerLink]="['/meteo']"
          ><img
            src="./assets/icons/icon-meteo.png"
            alt="icon station météo"
            width="25"
          />&nbsp;{{ 'navigation.meteo-station' | translate }}</a
        >
        <a mat-menu-item [routerLink]="['/meteo/forecasts']"
          ><img
            src="./assets/icons/icon-forecast-long.png"
            alt="Icon appreil "
          />&nbsp;{{ 'navigation.meteo-forecast' | translate }}</a
        >
        <a mat-menu-item [routerLink]="['/meteo/stats']"
          ><img
            src="./assets/icons/icon-statistics.png"
            alt="icon météo"
            width="25"
          />&nbsp;{{ 'navigation.meteo-stats' | translate }}</a
        >
      </mat-menu>
    </div>
    <div class="sub-menu-title">
      <h1 class="main-title">
        <img
          src="./assets/img/logo-station-meteo.png"
          alt="logo"
          class="logo"
        />
        {{ infos.title }}
      </h1>
    </div>
    <div class="sub-menu-choice">
      <div class="sub-menu-choice-item language-choice" id="language-choice">
        <mat-form-field appearance="fill" class="mat-form-field-language">
          <mat-label>{{ 'language.choose' | translate }}</mat-label>
          <mat-select
            (selectionChange)="chooseLanguage()"
            [(value)]="selectedLanguage"
          >
            <mat-option *ngFor="let language of languages" [value]="language"
              >{{ 'language.' + language | translate }}</mat-option
            >
          </mat-select>
        </mat-form-field>
      </div>
      <div class="sub-menu-choice-item" id="quit-or-signin">
        <img
          [src]="user?.picture"
          *ngIf="connected"
          alt="user icon"
          class="user-icon"
          [routerLink]="['/auth/profile']"
        />
        <button
          mat-icon-button
          class="example-icon"
          aria-label="Example icon-button with share icon"
        >
          <a href="{{ authUrl }}">
            <mat-icon *ngIf="!connected">account_circle</mat-icon>
          </a>
          <mat-icon *ngIf="connected" (click)="logOut()">exit_to_app</mat-icon>
        </button>
      </div>
    </div>
  </div>
</mat-toolbar>
