<div class="container">
    <div class="row justify-content-center align-items-center">
        <div>
        <div class="alert alert-warning" role="alert">
            {{'auth.who-are-you' | translate}}
        </div>
        <img width="250" src="/assets/icons/who-are-you.jpg" alt="{{'auth.who-are-you' | translate}}" />
        <div class="alert alert-warning" role="alert">
            {{'auth.redirected-message' | translate}} 
            <br />
            {{counter}} secondes
          </div>
        </div>
        
    </div>
</div>