<ng-container *ngIf="user !== null">
  <h1>{{ 'auth.your-profile' | translate }}</h1>
  <mat-card>
    <mat-card-header>
      <mat-card-title>
        <h2>{{ user.firstname }}&nbsp;{{ user.lastname }}</h2></mat-card-title
      >
    </mat-card-header>
    <mat-card-content>
      <div class="box">
        <img src="{{ user.picture }}" />
        <div>
          <a mat-flat-button href="mailto:{{ user.email }}">
            <mat-icon>mail</mat-icon>&nbsp;{{ user.email }}
          </a>
        </div>
      </div>
    </mat-card-content>
    <mat-card-footer> </mat-card-footer>
  </mat-card>
</ng-container>
