<h1 class="display-5"><img src="/assets/devices.png" width="30" /> {{'device.my-devices' | translate}} </h1>
<h2>{{'device.list-devices' | translate}}</h2>
<div class="container">
    <div class="row justify-content-center align-items-center">

        <table class="table table-striped">

            <thead class="thead-dark">
                <tr>
                    <th scope="col">{{'device.device' | translate}}</th>
                    <th scope="col">{{'device.description' | translate}}</th>
                    <th scope="col">{{'device.state' | translate}}</th>
                    <th scope="col">{{'device.more' | translate}}</th>
                    <th scope="col">{{'device.reset' | translate}}</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let device of devices" >
                    <td scope="row">{{device.device}}</td>
                    <td scope="row">{{device.description}}</td>
                    <td>
                        <img src="/assets/icons/{{device.connection.active ? 'icon-valid' : 'icon-invalid'}}.png"
                            width="25" height="25" />
                    </td>
                    <td><img width="25" src="/assets/icons/more.png" (click)=selectDevice(device)/></td>
                    <td><img width="25" src="/assets/icons/reset.png" (click)=rebootDevice(device)/></td>
                </tr>
            </tbody>
        </table>

        <app-detail-device [deviceStats]="selectedDeviceStats"></app-detail-device>
    </div>
</div>