<h1 class="display-5"><img src="/assets/red-led-switched-on.png" width="30" /><span class="btn btn-outline-info">  {{'led.magic-led' | translate}}</span></h1>

<h2><span class="btn btn-outline-info"> {{'led.play-funny-led' | translate}}</span></h2>

<hr />

<div class="container">
    <div class="row justify-content-center align-items-center">
        <div class="card border-success mb-3 my-card">
            <div class="card-header bg-transparent border-success text-success">{{'led.magic-led' | translate}}</div>
            <div class="card-body">

                <div>
                    <div id="led-playing">
                        <div class="alert alert-warning" role="alert" *ngIf="unAvailableLed">
                            {{'led.led-not-available' | translate}}
                        </div>
                        <h5 *ngIf="!unAvailableLed" class="card-title">{{'led.click-to-play-funny-led' | translate}}</h5>
                        <p class="card-text" *ngIf="!unAvailableLed"> 
                            <img *ngIf="ledState" class="img-led" (click)="toggleLed()"  src="assets/red-led-switched-{{ledState | lowercase}}.png" alt="LED {{ledState}}" />
                        </p>
                    </div>
                </div>
                <div *ngIf="!unAvailableLed" class="card-footer bg-transparent border-success">{{'led.led-is' | translate}} : {{('led.'+ledState | lowercase) | translate}}</div>
            </div>       
        </div>
    </div>   