<div class="card">
    <div class="card-body alert alert-info">
        <h6 class="card-subtitle mb-2 text-muted">Commande</h6>
        <div class="row">
            <div class="col-4">
                <label><img src="/assets/oled.png" (click)="switchScreen()" width="25" alt="{{'screen.screen' | translate}}" /> : 
                    <span  *ngIf="screenState">{{('screen.' + screenState | lowercase) | translate}}</span></label>
                <div *ngIf="screenState" class="state card-footer bg-transparent border-success">
                    <mat-slide-toggle (change)="switchScreen()" [checked]="screenisOn"></mat-slide-toggle>
                </div>

            </div>
            <div class="col-4">
                <label><img src="/assets/water-heater.png" (click)="switchHeater()" width="25" alt="{{'heater.heater' | translate}}" /> : 
                    <span *ngIf="heaterState">{{('heater.' + heaterState | lowercase) | translate}}</span></label>

                <div *ngIf="heaterState" class="state card-footer bg-transparent border-success">
                    <mat-slide-toggle (change)="switchHeater()"  [checked]="heaterisOn"></mat-slide-toggle>
                </div>

            </div>
            <div class="col-4">
                <label><img *ngIf="ledState" width="25" (click)="toggleLed()" class="img-led" (click)="toggleLed()"
                        src="assets/red-led-switched-{{ledState | lowercase}}.png" alt="LED {{ledState}}" /> : 
                        <span *ngIf="!unAvailableLed">{{('led.'+ledState | lowercase) | translate}}</span></label>

                <div *ngIf="!unAvailableLed" class="state card-footer bg-transparent border-success">
                    <mat-slide-toggle (change)="toggleLed()"  [checked]="ledisOn"></mat-slide-toggle>
                </div>
            </div>



        </div>
    </div>
</div>