.flex-container {
  display: flex;
  background-color: grey;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  width: auto;
}

.flex-item {
  margin: 5px;
}

header {
  flex: 1;
}
main {
  flex: 15;
  overflow-y: auto;
}
footer {
  flex: 1;
}
