<div class="card" *ngIf="meteo">
<div class="card-body alert alert-info">
    <h6 class="card-subtitle mb-2 text-muted">{{'meteo-station.forecast.mesure'| translate}}</h6>
    <img class="icon-style" class="icon-style" src="/assets/thermometre.png" width="35" /> : {{meteo.temperature}}&nbsp;°C
    <hr />
    <img class="icon-style" src="/assets/pressure.png" width="35" /> : {{meteo.pressure}}&nbsp;hPa
    <hr />
    <img class="icon-style" src="/assets/humidity.png" width="35" /> : {{meteo.humidity}}&nbsp;%
</div>
</div>