$color:rgba(245, 253, 207, 0.08);
$colorOp : rgba($color, 0.5);

div.card {
  display:flex;  
  flex-direction:column;
  align-items: center; 

}

div.box {
  width: 90%;
  margin:0 10% 0 10%;
}

.header-image {
  background-image: url('/assets/icons/icon-forecast-long.png');
  background-size: cover;
}

img.icon{
  border: 2px solid $colorOp;
  border-radius:5px;
  width:65px; 
  margin:5px; 
}

mat-card {
  margin: 0 auto;  
  margin-top:5px;
  padding-bottom:5px;
  max-width: 100%;   
  background-color:$color;  
  font-size:1.2em;
  mat-card-title {
    font-size:1.1em;
  }

  .mat-card-header-text {
    
    width:100%;
    
    .mat-card-subtitle, .mat-card-title{
      display:flex;  
      flex-direction:column;
      align-items: center;      
    }    
  }

  .mat-card-content{
    display:flex;  
    flex-direction:column;
    align-items: center; 
  }
}
