<h1 class="display-5"><img src="/assets/weather.png" width="30" /><span class="btn btn-outline-info">  {{'meteo-station.title' | translate}}</span> </h1>

<h2><span class="btn btn-outline-info">{{'meteo-station.meteo-in' | translate}} : {{city}}</span></h2>

<div *ngIf="!meteoAvailable" class="alert alert-warning" role="alert">
  {{'meteo-station.not-ready' | translate}}
</div>

<div class="row" *ngIf="meteoAvailable">
  <div class="col-6">
    <app-forecast-detail *ngIf="forecastAvailable" [ephemeride]="ephemeride" [forecast]="forecast"></app-forecast-detail>
    <div class="alert alert-warning" *ngIf="!forecastAvailable">{{'meteo-station.forecast.problem' | translate}}</div>
  </div>
  <div class="col-6" >
    <app-station-detail [meteo]=meteo></app-station-detail>
    
  </div>
</div>