/* You can add global styles to this file, and also import other style files */

$main-color: rgba(23, 162, 184, 1);

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}
h1,
h2,
h3 {
  color: $main-color;
  text-align: center;
}

.mat-dialog-container {
  border: 1px solid black;
}

/* Display List like devices, user, ....*/
table.mat-table {
  width: 100%;
  border: 2px solid;
  border-radius: 4px;
}

/* Snack bar */
.mat-simple-snackbar-action {
  color: $main-color;
}

.spinner-modal {
  mat-dialog-container {
    border: none;
    background: none;
    box-shadow: none;
  }
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
