<form [formGroup]="userEditForm" *ngIf="user !== undefined" class="form">
  <mat-form-field class="field" appearance="fill">
    <mat-label>{{'user.id' | translate}}</mat-label>
    <input
      matInput
      placeholder="{{'user.enter' | translate}} {{'user.id' | translate}}"
      formControlName="id"
    />
  </mat-form-field>

  <mat-form-field class="field" appearance="fill">
    <mat-label>{{'user.firstname' | translate}}</mat-label>
    <input
      matInput
      placeholder="{{'user.enter' | translate}} {{'user.firstname' | translate}}"
      formControlName="firstname"
    />
  </mat-form-field>

  <mat-form-field class="field" appearance="fill">
    <mat-label>{{'user.lastname' | translate}}</mat-label>
    <input
      matInput
      placeholder="{{'user.enter' | translate}} {{'user.lastname' | translate}}"
      formControlName="lastname"
    />
  </mat-form-field>

  <mat-form-field class="field" appearance="fill">
    <mat-label>{{'user.email' | translate}}</mat-label>
    <input
      matInput
      placeholder="{{'user.enter' | translate}} {{'user.email' | translate}}"
      formControlName="email"
    />
  </mat-form-field>

  <mat-form-field class="field" appearance="fill">
    <mat-label>{{'user.picture' | translate}}</mat-label>
    <input
      matInput
      placeholder="{{'user.enter' | translate}} {{'user.picture' | translate}}"
      formControlName="picture"
    />
    <br />
    <img [src]="user.picture" alt="" />
  </mat-form-field>

  <mat-form-field class="field" appearance="fill">
    <mat-label>{{'user.role' | translate}}</mat-label>
    <mat-select formControlName="role">
      <mat-option value="USER">{{'role.USER' | translate}}</mat-option>
      <mat-option value="ADMIN">{{'role.ADMIN' | translate}}</mat-option>
    </mat-select>
  </mat-form-field>
</form>
