<form class="form">
  <mat-form-field class="field" appearance="fill">
    <mat-label>{{'user.id' | translate}}</mat-label>
    <input
      matInput
      placeholder="{{'user.enter' | translate}} {{'user.id' | translate}}"
    />
  </mat-form-field>

  <mat-form-field class="field" appearance="fill">
    <mat-label>{{'user.firstname' | translate}}</mat-label>
    <input
      matInput
      placeholder="{{'user.enter' | translate}} {{'user.firstname' | translate}}"
    />
  </mat-form-field>

  <mat-form-field class="field" appearance="fill">
    <mat-label>{{'user.lastname' | translate}}</mat-label>
    <input
      matInput
      placeholder="{{'user.enter' | translate}} {{'user.lastname' | translate}}"
    />
  </mat-form-field>

  <mat-form-field class="field" appearance="fill">
    <mat-label>{{'user.email' | translate}}</mat-label>
    <input
      matInput
      placeholder="{{'user.enter' | translate}} {{'user.email' | translate}}"
    />
  </mat-form-field>

  <mat-form-field class="field" appearance="fill">
    <mat-label>{{'user.picture' | translate}}</mat-label>
    <input
      matInput
      placeholder="{{'user.enter' | translate}} {{'user.picture' | translate}}"
    />
  </mat-form-field>

  <mat-form-field class="field" appearance="fill">
    <mat-label>{{'user.role' | translate}}</mat-label>
    <input
      matInput
      placeholder="{{'user.enter' | translate}} {{'user.role' | translate}}"
    />
  </mat-form-field>
</form>
